body{
    background-color: skyblue;
}
footer{
    background-color: black;
    color: whitesmoke;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100vw;
}